VITE_API_BASE_URL=<Your_Api_Base_Url>
VITE_API_TIMEOUT=<Api_Request_Timeout>
DEV=<Mode>

# Google Maps API
VITE_GOOGLE_MAPS_API_KEY = <Google_Maps_Api_Key>
# Azure Translator
VITE_AZURE_TRANSLATOR_KEY=<Azure_Translator_Key>
VITE_AZURE_TRANSLATOR_REGION=<Azure_Translator_Region>
VITE_AZURE_TRANSLATOR_ENDPOINT=<Azure_Translator_Endpoint>