# Django settings for Urugendo project.

# Django settings
DEBUG = <YOUR_DEBUG_SETTING>
FRONTEND_URL = <YOUR_FRONTEND_URL>

# DB secrets, use RENDER_DB_URL for production and local settings for development. To use local settings, make sure to change the DATABASES setting in settings.py to use the local environment variables instead of RENDER_DB_URL.
DB_NAME = <YOUR_DB_NAME>
DB_USER = <YOUR_DB_USER>
DB_PASSWORD = <YOUR_DB_PASSWORD>
DB_HOST = <YOUR_DB_HOST>
DB_PORT = <YOUR_DB_PORT>
SECRET_KEY = <YOUR_SECRET_KEY>
RENDER_DB_URL=<YOUR_RENDER_DB_URL>

# Supabase settings
SUPABASE_URL = <YOUR_SUPABASE_URL>
SUPABASE_KEY = <YOUR_SUPABASE_KEY>

# JWT settings
JWT_SECRET_KEY = <YOUR_JWT_SECRET_KEY>
JWT_ALGORITHM = <YOUR_JWT_ALGORITHM>
JWT_ACCESS_TOKEN_LIFETIME = <YOUR_JWT_ACCESS_TOKEN_LIFETIME_IN_MINUTES>
JWT_REFRESH_TOKEN_LIFETIME = <YOUR_JWT_REFRESH_TOKEN_LIFETIME_IN_DAYS>

# Gmail
GOOGLE_CLIENT_ID=<YOUR_GOOGLE_CLIENT_ID>
GOOGLE_CLIENT_SECRET=<YOUR_GOOGLE_CLIENT_SECRET>
GOOGLE_REFRESH_TOKEN=<YOUR_GOOGLE_REFRESH_TOKEN>
GMAIL_SENDER_EMAIL=<YOUR_GMAIL_SENDER_EMAIL>

# Google Calendar
GOOGLE_CALENDAR_CLIENT_ID=<YOUR_GOOGLE_CALENDAR_CLIENT_ID>
GOOGLE_CALENDAR_CLIENT_SECRET=<YOUR_GOOGLE_CALENDAR_CLIENT_SECRET>
GOOGLE_CALENDAR_REDIRECT_URI=<YOUR_GOOGLE_CALENDAR_REDIRECT_URI>
OAUTHLIB_INSECURE_TRANSPORT=<YOUR_OAUTHLIB_INSECURE_TRANSPORT>

# Google Maps API
GOOGLE_MAPS_API_KEY = <YOUR_GOOGLE_MAPS_API_KEY>

# Azure Translator
AZURE_TRANSLATOR_KEY=<YOUR_AZURE_TRANSLATOR_KEY>
AZURE_TRANSLATOR_REGION=<YOUR_AZURE_TRANSLATOR_REGION>
AZURE_TRANSLATOR_ENDPOINT=<YOUR_AZURE_TRANSLATOR_ENDPOINT>